body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.hl {
  background-color: blueviolet;
}

.search {
  width: 50vw;
  height: 10vh;
  text-align: center;
  font-size: 40px;
}

ul {
  list-style: none;
}

li {
  width: 40vw;
  height: 3vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: left;
  padding: 10px;
}
