div {
  margin-top : 1.5em;
  font-size: 1em;
}

table {
  width: auto;
  margin-top: 2em;
}

th,
td {
  border : 1px solid #333;
}

#list-span {
  font-size : 30px;
  font-weight: 800;
}

#line-add-button {
  margin-top: 2em;
}