.badge {
  background-color: rgb(255, 23, 23);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.besideCog {
  width: 5px;
  height: 5px;
  position: absolute;
  top: -10px;
}

.screen-header__icons span i {
  position: relative;
}
